*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiFormHelperText-contained {
  margin: 0 !important;
}

.App {
  width: 100vw;
  height: 100vh;
}

a:active {
  color: black !important;
}
